.container{	
	max-width: 100% !important;
}

tr{
	text-align: center !important;
}

td,th{
	border: 1px solid black !important;
	padding: 10px !important;
}

.c-name{
	font-size: 20px;
}

.u-data,.sub-n{
	text-align: left;
}

.bg-light{
	background-color: #cfe1f2 !important;
}

.wide{
	width: 50%;
}

.alert{	
	text-align: right;
}

@media print {
  header,footer{
    visibility: hidden;
  }
  #container {
  	visibility: visible; 	
    left: 0;
    top: 0;
  }
}
