.container{	
	max-width: 100% !important;
}

.bg-light{
	background-color: #cfe1f2 !important;
}

.alert{	
	text-align: right;
}

tr{
	text-align: center;
}

td,th,thead{
	border: 1px solid black !important;
	padding: 10px !important;
}

#rs-0 tr:nth-child(1) th:nth-child(1){
	text-align: center !important;
	font-size: 20px;
}

#rs-0 tr:nth-child(2) th:nth-child(n),tr:nth-child(3) th:nth-child(n){
	text-align: left !important;
	width: 50%;
}

#rs-1 td:nth-child(2){
	text-align: left !important;
}

#rs-2 tr:nth-child(n){
	text-align: left !important;
}

#rs-2 td:nth-child(1),#rs-2 td:nth-child(2){
	width: 50%;
	font-weight: bolder;
}